body {
    background:gray;

}

#title {
    font-size:100px;
    text-align:center;
}

.elegant{
    display:flex;
    justify-content:center;
    font-family:Century Gothic;

}

img {
    border:3px white double;
    padding:5px;
    margin: 5px;

    width:900px;
}